<h1>Ask Coach</h1>

<div class="container">
    <form action="/answer" method="get">
      <input class= "form-input"type="text" name="question" placeholder="What's up?">
      <input type="submit" value="Ask!">
    </form>
</div>
